</br>
</br>
<h2>登録画面</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    アカウント名(連絡用の<alert>メールアドレス</alert>)を入力して下さい<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    パスワードを入力して下さい
    <% if @minimum_password_length %>
    <alert><em>(<%= @minimum_password_length %> 文字以上)</em></alert>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    確認のためパスワードを再入力して下さい<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
