</br>
</br>
<h4>ログイン</h4>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    アカウント名(連絡用のメールアドレス)<br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    パスワード<br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      入力を記憶する
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<alert>*↓未登録の方は先にこちらから登録して下さい</alert></br>
<%= render "devise/shared/links" %>
