<%= render 'layouts/header' %>

<div class="container">

			<h4>本当に次のステップBへ移りますか？</h4>
			<p>（注意1：<alert>ステップAへ戻ることは不可能になります</alert>）</p>
			<p>（注意2：ページ移行にしばらく時間がかかります）</p>
			<p>（注意3：そのときに<alert>ブラウザバックや更新、別リンクへのアクセスはやめて下さい</alert></p>

<!-- 		<%= link_to "アイテム(その２)の評価へ移る", {:controller => "hotels", :action => "list_recommend"},  data: { disable_with: "Processsing..." } %> -->

		<%= button_to "ステップBへ移る", {:controller => "hotels", :action => "list_recommend"},:method => :get,data: { disable_with: "処理中…" } %>
		<%= button_to "ステップAを行い続ける", {:controller => "hotels", :action => "list_test"},:method => :get%>

</div>