<%= render 'layouts/header' %>

<!-- content -->
<div class="container">



	<%if @page_type == 'list_test' %>

		</br>
		<%if @errors%>
			<h6><alert>投稿に失敗しました。</alert>
			</br>記入漏れの可能性があります(評価理由など)。
			</br>お手数ですが再度評価をお願いします。</h6>			
		<%else%>
			<h5>投稿が完了致しました。</h5>
			<p>投稿した宿泊施設：<%=@rating_info1.item_Name%></p>
			<p>評価値：<%=@rating_info2.rating0%></p>
			<p>評価値の理由：<%=@rating_info2.rating_reason%></p>
			<p>投稿の詳細は「進行度の確認」より観れます</p>
		<%end%>

		</br>
		</br>
		</br>

		<%if @check_rated%><!--評価値の付いたホテルかどうか判定-->
	      		<p>お疲れ様でした。</p>
	            <h5><%= link_to "→ステップBへ移る", {:controller => "hotels", :action => "ask_recommend"} %></h5>
	            </br></br>
	    <%end%>

		<h6>他のアイテムを評価する↓</h6>
	      	<table>
	        	<% @hotels.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
			         <%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "show", :item_ID => hotel.item_ID, :type => 'list_test'} %>
			         <% temp = @user_rated.find_by(:item_ID => hotel.item_ID).rating0%>
               </td>
		        	<td>
		        	 <%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
				      未評価
			         <% else %>
				      評価値：<alert><%=temp %></alert>/5.0<!--評価値のついたホテルの評価値取得-->
			         <%end%>
			       </td>
		        </tr>
		        <% end %>
		    </table>
	<% else  %>
		</br>
		<%if @errors%>
			<h6><alert>投稿に失敗しました。</alert>
			</br>記入漏れの可能性があります(評価理由など)。
			</br>お手数ですが再度評価をお願いします。</h6>			
		<%else%>
			<h5>投稿が完了致しました。</h5>
			<p>投稿した宿泊施設：<%=@rating_info1.item_Name%></p>
			<p>評価値：<%=@rating_info2.rating0%></p>
			<p>評価値の理由：<%=@rating_info2.rating_reason%></p>
			<p>投稿の詳細は「進行度の確認」より観れます</p>
		<%end%>
		</br>
		</br>
		</br>



		<%if @phase == 3%><!--評価値の付いたホテルかどうか判定-->
	      		<p>お疲れ様でした。</p>
	            <h5><%= link_to "→アンケートを記入する", {:controller => "hotels", :action => "interview"} %></h5>
	            </br></br>
	    <%end%>

		<p>他のアイテムを評価する↓</p>
			<table>
	        	<% @recommend_items.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
					<%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "show", :item_ID => hotel.item_ID, :type => 'list_recommend'} %>
					<% temp = @user_rated.find_by(:item_ID => hotel.item_ID).rating0%>
			   		</td>
		        	<td>
		        	<%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
					未評価：
			       <% else %>
					評価値：<alert><%=temp %></alert>/5.0)<!--評価値のついたホテルの評価値取得-->
			       <%end%>
			       </td>
		      </tr>
		  		<% end %>
		    </table>

	<%end%>

</div>


