
<%= render 'layouts/header' %>

<!-- content -->
<div class="container">
		<h4>ここは推薦システムトップページです</h4>
		</br>
		<p>・この実験では以下のことを行います</p>
		<p>・ステップA (複数の宿泊施設の評価) → ステップB (複数の宿泊施設の評価) → アンケートの記入</p>
		</br>


		<p>・はじめての方は事前に『実験マニュアル』を参照してください→
		<%= link_to "『実験マニュアル』へ", {:controller => "hotels", :action => "manual"} %></p>
		<p>・『進行度の確認』でいつでも実験の進み具合を確認できます</p>
	<%if @phase <4 %>
		<p>・現在の進行度は <large><%=@phase.to_f*25%>%</large> です。</p>
	<%else%>
		<p>・現在の進行度は <large><%=@phase.to_f*25%>%</large> です。</p>
		実験は終了になります。お疲れ様でした。
	<%end%>
</div>


