
<%= render 'layouts/header' %>

<!-- content -->
<div class="container">
		<h5>こちらはアンケートの入力画面になります</h5>
		<p>お手数ですがご協力お願い致します</p>	

		<h5>1:入力画面</h5>
		<p>画面内の指示に従ってアンケートを記入して下さい</p>
		<div>
<iframe src="https://docs.google.com/forms/d/1uGdKftz4Km6gSb24B5gRGLE0JNCDSNazBy5aHRaoX0g/viewform?embedded=true" width="800" height="600" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます...</iframe>
	</div>
		</br>
		</br>

		<h5>2:アンケート回答後</h5>	
		<p>アンケート回答後は必ず<alert>↓こちらのボタン</alert>を押して下さい</p>
		<%= form_for(@post,:url => {:controller => 'hotels', :action => 'result'}) do |f| %>
			<%= f.hidden_field :memo01, :value => "interview_done"%>
			<%= f.submit :アンケート回答完了 %>
		<% end %>


</div>


