<%= render 'layouts/header' %>

<!-- main content -->
<div class="container">

	      <h5>ステップA：以下のアイテムを全て評価して下さい</h5>
	      

	         <%if @check_rated%><!--評価値の付いたホテルかどうか判定-->
	         </br>
	      		<p>お疲れ様でした。</p>
	            <h5><%= link_to "→ステップBに移る", {:controller => "hotels", :action => "ask_recommend"},:disable_with=>'アップロード処理中...' %></h5>
	         </br>
	         </br>
      		<%end%>
	      	<table>

	        	<% @hotels.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
			         <%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "show", :item_ID => hotel.item_ID, :type => 'list_test'} %>
			         <% temp = @user_rated.find_by(:item_ID => hotel.item_ID).rating0%>
               </td>
		        	<td>
		        	 <%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
				      ；まだ評価されていません
			         <% else %>
				      ；評価値済み(<alert><%=temp %></alert>/5.0)<!--評価値のついたホテルの評価値取得-->
			         <%end%>
			       </td>
		        </tr>
		        <% end %>
		      </table>



  </div>
</div>


