<%= render 'layouts/header' %>

<!-- content -->
<div class="container">
	      <h5>ステップB：以下のアイテムを全て評価して下さい</h5>

	          <%if @phase ==3%><!--評価値の付いたホテルかどうか判定-->
              </br>
              <p>お疲れ様でした。最後にアンケートにご協力お願いします。(ステップBのアイテムはいつでも再評価が可能です)</p>


              <h5><%= link_to "→アンケート画面へ", {:controller => "hotels", :action => "interview"} %></h5>
              </br>
              </br>
             <%end%>

	      	<table>
	        	<% @recommend_items.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
			<%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "show", :item_ID => hotel.item_ID, :type => 'list_recommend'} %>
			<% temp = @user_rated.find_by(:item_ID => hotel.item_ID).rating0%>
			   </td>
		        	<td>
		        	<%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
				；まだ評価されていません
			       <% else %>
				；評価値済み(<alert><%=temp %></alert>/5.0)<!--評価値のついたホテルの評価値取得-->
			       <%end%>
			       </td>
		      </tr>
		  <% end %>
		    </table>


</div>



