
<%= render 'layouts/header' %>

<!-- content -->
<div class="container">
		<h4>ここは実験の手引きに関するページです</h4>
		<p>・実験の詳細はメールに添付されたマニュアル(pdf)を読んでください  (<a href="https://www.dropbox.com/s/oajbezb6je1gmts/%E5%AE%9F%E9%A8%93%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB.pdf?raw=1" target="_blank">ここ</a>からダウンロードも可能)
		</p>
		<p>・以下にマニュアルの内の注意事項をリストアップしています</p>
		<p>・必ず目を通すようにして下さい<p>
		</br>		

		<div>
			<alert><h5>注意事項まとめ↓</h5></alert>
			<ul>
				<alert><h6>アイテムの評価時</h6></alert>
				<li>施設の利用目的は「友達、家族との旅行」とし、全て同じ目的で宿泊施設を評価</li>
				<li>全て同じ目的とは「全く同じメンバー、シチュエーション」を示す</li>
				<li>そのため日をまたぐなどせず一貫、集中して実験を実行</li>
				<li>5段階評価を行うとき、その評価とした理由も必ず記入（簡潔にで大丈夫です）</li>
				<li>評価にあたって『参考になった』情報を選択を６つの特徴より選択（複数選択可、簡潔にで大丈夫です）</li>
				<li>「参考にならなかった」とは評価に影響を与えなかった情報、
				「参考になった(+情報)」とは評価を上げる意味で参考になった情報、
				「参考になった(-情報)」とは評価を下げる意味で参考になった情報を示す</li>
				<li>ステップAでは『参考になった』を選択した場合は、簡潔でいいので必ずその理由も記入</li>
				<li>外部サイトにアクセスしてアイテム評価を行うことは禁止</li>
				</br>
				</br>

				<alert><h6>ステップAからステップBに移るとき</h6></alert>
				<li>ステップAに戻ることは不可能になる＝ステップAのアイテム再評価が不可能</li>
				<li>ステップBへの遷移に時間がかかる</li>
				<li>遷移時にブラウザバック、更新、他のリンクへのアクセスを行わないこと</li>
				</br>
				</br>

				<alert><h6>アンケート後</h6></alert>
				<li>アンケートを終了したら、『アンケート回答完了』ボタンを押すこと</li>
				<li>進行度を確認し、100%になっていれば実験は終了</li>
				<li>その後も実験期間内はステップBのアイテムの再度評価は可能</li>
				</br>
				</br>

				<alert><h6>その他仕様など</h6></alert>
				<li>ブラウザバックは強制禁止しています</li>
				</br>
				</br>
				</br>

			</ul>
		</div>

</div>

