<%= render 'layouts/header' %>

<!-- content -->
<div class="container">

	<h5>ここでは実験の結果、進捗具合を表示しています</h5>

	<%if @phase <4 %>
		<p>現在の進行度は <large><%=@phase.to_f*25%>%</large> です。</p>
		<p>以下の手順を行って下さい</p>
	<%else%>
		<p>現在の進行度は <large><%=@phase.to_f*25%>%</large> です。</p>
		<h5>実験は終了になります。お疲れ様でした。</h5>
	<%end%>


	<ol>
	<%if @phase <= 0 %>
		<li>登録を行う</li>
	<%else%>
		<li><s>登録を行う</s>：完了</li>
	<%end%>


	<%if @phase <= 1 %>
		<li>アイテム(その１)を評価 ×15件</li>
	<%else%>
		<li><s>アイテム(その１)を評価 ×15件</s>：全て評価完了</li>
	<%end%>

	<%if @phase <= 2 %>
		<li>アイテム(その２)を評価 ×〜20件</li>
	<%else%>
		<li><s>アイテム(その２)を評価 ×〜20件</s>：全て評価完了（評価し直せます）</li>
	<%end%>

	<%if @phase <= 3 %>
		<li>アンケートの実施</li>
	<%else%>
		<li><s>アンケートの実施</s>：完了</li>
	<%end%>
	</ol>

	</br>



	<!-- text line -->
	      <h5>ステップAのアイテム評価一覧</h5>
	      <p>(各アイテムにアクセスすることで、自分の<alert>投稿の詳細</alert>が観れます)</p>
	      	<font color="#888">
	      	<table>
	      		<tr>
					<th>宿泊施設名</th>
					<th>評価値</th>
					<th>評価理由</th>
				</tr>


	        	<% @hotels.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
						<!-- s<%= hotel.item_Name%> -->
						<%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "result_show", :item_ID => hotel.item_ID} %>
						<% temp = @user_rated01.find_by(:item_ID => hotel.item_ID).rating0%>
			   		</td>
		        	<td>
			        	<%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
						未評価
				       <% else %>
						<alert><%=temp %></alert>/5.0<!--評価値のついたホテルの評価値取得-->
				       <%end%>
			       </td>
			       <td>
				       <%=@rated_item.find_by(:item_ID => hotel.item_ID).rating_reason%><!--評価値の付いたホテルかどうか判定-->
			       </td>
		      	</tr>
		  	    <% end %>
			</table>
			</font>
			</br>

		<h5>ステップBのアイテム評価一覧</h5>
			<font color="#888">
			<%if @recommend_items.empty?%>
			ステップAのアイテムを評価してください
			<%end%>

			<table>
				<tr>
					<th>宿泊施設名</th>
					<th>評価値</th>
					<th>評価理由</th>
				</tr>


	        	<% @recommend_items.each_with_index do |hotel,i| %>
	        	<tr>
	        		<td>
					<%= link_to "#{hotel.item_Name}", {:controller => "hotels", :action => "result_show", :item_ID => hotel.item_ID} %>
						<% temp = @user_rated02.find_by(:item_ID => hotel.item_ID).rating0%>
			   		</td>
		        	<td>
			        	<%if temp == nil %><!--評価値の付いたホテルかどうか判定-->
						未評価
				       <% else %>
						<alert><%=temp %></alert>/5.0<!--評価値のついたホテルの評価値取得-->
				       <%end%>
			       </td>
			       <td>
				       <%=@rated_item.find_by(:item_ID => hotel.item_ID).rating_reason%><!--評価値の付いたホテルかどうか判定-->
			       </td>
		      	</tr>
		  	    <% end %>
		    </table>
		    </font>
		</br>
</div>
