<%= render 'layouts/header' %>




<!-- content -->
<div class="container">
	<h3>投稿結果</h3>
	</br></br></br>
	<h4><%= @hotel_info.item_Name %>&emsp;<font size="3">[<%= @hotel_info.item_type %>]</font></h4>

	<h5>宿泊施設の基本情報</h5>
	<div class="frame">
		<div class="row">
			<div class="five columns thumb">
				<!--<img src="/assets/thumbnails/300x230.jpg" alt="" style="width:290px;height:auto;">-->
				<div class="u-cf"><%= image_tag ('thumbnails/'+ @hotel_info.item_ID.to_s+'.jpg') %></div>
				<p><strong>宿泊施設の簡単な説明：</strong>
				<%if @hotel_info.intro.blank? %>
					なし
				<%else%>
					<%= @hotel_info.intro%>
				<%end%></p>

			</div>
			<div class="seven columns">
		    	<div align="center">
		    		<canvas id="canvas" width="400px" height="300px"></canvas>
		    		<p><font size ="4">(施設全体の総合評価 <%= number_with_precision(@rating[0],:precision => 2) %>/5.0)</font></p>


		    	</div>

		    </div>
	   　</div>
    </div>


	<div class="frame">
		<p><strong>住所　　：</strong><%= @hotel_info.address%></p>
		<p><strong>アクセス：</strong><%= @hotel_info.access%></p>
	</div>

	<div class="frame">
		<p><strong>宿泊施設の設備：</strong></p>
		<%= @hotel_info.detail.html_safe%>
	</div>

		<br><br><br>


	 <h5>宿泊施設の特徴</h5>



			<!--閾値以上の属性(index)に応じて画像表示-->
			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame">
					 	<h6><large>《ここの要素は好評です》</large></h6>
					 		<%@rating_pos.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
						<p>
						<%temp =  @rating_info.r_point_pos%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_pos%></h6>

					</div>
				</div>


			 	<div class="one-half column">
				 	<div class="frame">
						<h6><large>《ここの要素は平均的に見られています》</large></h6>
						 	<%@rating_mid.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>

						<p>
						<%temp =  @rating_info.r_point_mid%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_mid%></h6>

					</div>		
				</div>
			</div>


			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame">
						<h6><large>《ここの要素はあまり評判が良くないかもしれません》</large></h6>
						 	<%@rating_neg.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
						<p>
						<%temp =  @rating_info.r_point_neg%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_neg%></h6>
					</div>
				</div>

			 	<div class="one-half column">
				 	<div class="frame">
						<h6><large>《ここの要素を気に入った方は、宿泊施設全体も気に入って頂けるでしょう》</large></h6>
						 	<%@top_oo.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
						<p>
						<%temp =  @rating_info.r_point_oo%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_oo%></h6>
					</div>	
				</div>
			</div>

			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame">
						<h6><large>《ここの要素を気に入らなかった方は、宿泊施設全体も気に入って頂けない可能性があります》</large></h6>
						 	<%@top_xx.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
						<p>
						<%temp =  @rating_info.r_point_xx%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_xx%></h6>
					</div>
				</div>

			 	<div class="one-half column">
				 	<div class="frame">
						<h6><large>《ここの要素を気に入らない方でも、宿泊施設全体は気に入って頂けるでしょう》</large></h6>
						 	<%@top_xo.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							 <%}%>
						<p>
						<%temp =  @rating_info.r_point_xo%>
						<%if temp == 1%><h5>参考になった(+情報)</h5>
			       		<%elsif temp == -1%><h5>参考になった(-情報)</h5>
			       		<%else%><h5>参考にならなかった</h5><%end%>
			       		</p>

			       		<h6><%=@rating_info.r_reason_xo%></h6>
					</div>
				</div>
			</div>

			</br>


			<h5>宿泊施設を評価</h5>
			<div class="frame">
				この宿泊施設に対する評価
				<h5><%=@rating_info.rating0%></h5>

				その評価値にした理由
				<h5><%=@rating_info.rating_reason%></h5>
				
				その他のコメント
				<h5><%=@rating_info.comment%></h5>
			</div>


       <%= link_to "結果画面へ戻る", {:controller => "hotels", :action => "result"}%>



	



	

</div>




<!--レーダーチャートを描画する Canvas-->
	<%r0 = number_with_precision(@rating[0],:precision => 2) %>
	<%r1 = number_with_precision(@rating[1],:precision => 2) %>
	<%r2 = number_with_precision(@rating[2],:precision => 2) %>
	<%r3 = number_with_precision(@rating[3],:precision => 2) %>
	<%r4 = number_with_precision(@rating[4],:precision => 2) %>
	<%r5 = number_with_precision(@rating[5],:precision => 2) %>
	<%r6 = number_with_precision(@rating[6],:precision => 2) %>
	<%r7= number_with_precision(@rating[7],:precision => 2) %>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
        // レーダーチャートで表示するデータを用意
        var radarChartData = {
          labels: ["アクセス", "コスパ", "接客対応", "客室", "風呂","食事","バリアフリー"],
          datasets: [
            {
              fillColor: "rgba(15,160,206,0.2)", // 線で囲まれた部分の色
              strokeColor: "rgba(15,160,206,0.1)", // 線の色
              pointColor: "rgba(15,160,206,0.3)",  // 点の色
              //pointStrokeColor: "rgba(58,104,66,0.5)",           // 点を囲む線の色
              data: [<%=r1%>,<%=r2%>,<%=r3%>,<%=r4%>,<%=r5%>,<%=r6%>,<%=r7%>]
            }
          ]
        };
        var options ={

        	scaleShowLabels: true,  // 目盛を表示
        	pointLabelFontSize : 13, // ラベルを表示
//        	maintainAspectRatio: true,
 //   	responsive: false
    	scaleOverride : true, 
    	scaleSteps : 5,          // 目盛の数
   	scaleStartValue : 0,      // 目盛の最初の数
   	scaleStepWidth : 1,       // 目盛の間隔
        }

        // Canvas にレーダーチャートを描画

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var chart = new Chart(context);
        var rader = chart.Radar(radarChartData,options);

      });
    </script>
<!--レーダーチャートを描画する Canvas-->

