<%= render 'layouts/header' %>




<!-- content -->
<div class="container">
	<h3><%= @hotel_info.item_Name %>&emsp;<font size="3">[<%= @hotel_info.item_type %>]</font></h3>

	<h5>宿泊施設の基本情報</h5>
	<div class="frame">
		<div class="row">
			<div class="five columns thumb">
				<!--<img src="/assets/thumbnails/300x230.jpg" alt="" style="width:290px;height:auto;">-->
				<div class="u-cf"><%= image_tag ('thumbnails/'+ @hotel_info.item_ID.to_s+'.jpg') %></div>
				<p><strong>宿泊施設の簡単な説明：</strong>
				<%if @hotel_info.intro.blank? %>
					なし
				<%else%>
					<%= @hotel_info.intro%>
				<%end%></p>

			</div>
			<div class="seven columns">
		    	<div align="center">
		    		<canvas id="canvas" width="400px" height="300px"></canvas>
		    		<p><font size ="4">(施設全体の総合評価 <%= number_with_precision(@rating[0],:precision => 2) %>/5.0)</font></p>


		    	</div>

		    </div>
	   　</div>
    </div>


	<div class="frame">
		<p><strong>住所　　：</strong><%= @hotel_info.address%></p>
		<p><strong>アクセス：</strong><%= @hotel_info.access%></p>
	</div>

	<div class="frame">
		<p><strong>宿泊施設の設備：</strong></p>
		<%= @hotel_info.detail.html_safe%>
	</div>

		<br><br><br>


	 <h5>宿泊施設の特徴</h5>

		<%= form_for(@post,:url => {:controller => 'hotels', :action => 'create'}) do |f| %>
		<%select1='参考にならなかった（評価に影響を与えなかった）'%>
		<%select2='参考になった（+情報、評価を上げる情報として役立った）'%>
		<%select3='参考になった（−情報、評価を下げる情報として役立った）'%>



			<!--閾値以上の属性(index)に応じて画像表示-->
			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame down_a">
					 	<h6><large>《ここの要素は好評です》</large></h6>
					 		<%@rating_pos.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
							<%= f.hidden_field :r_propaty_pos, :value => @rating_pos%>
						<div class="down_b">
						<p><%= f.select  :r_point_pos, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %></br><alert>*3つの中からどれかを選択</alert></p>
						<%if @phase <= 1%>
							<%=@rating_reason%><alert></br>*「参考になった」を選択した場合、簡潔で良いので必ず記入</alert><p><%=f.text_area :r_reason_pos, :size=>"35x1"%></p>
						<%end%>
						</div>
					</div>
				</div>


			 	<div class="one-half column">
				 	<div class="frame down_a">
						<h6><large>《ここの要素は平均的に見られています》</large></h6>
						 	<%@rating_mid.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
							<%= f.hidden_field :r_propaty_mid, :value => @rating_mid%>
						<div class="down_b">
							<p><%= f.select  :r_point_mid, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %></br><alert>*他5箇所についても同様</alert></p>
							<%if @phase <= 1%>
								<%=@rating_reason%><alert>*他5箇所についても同様</alert>
								<p><%=f.text_area :r_reason_mid, :size=>"35x1"%></p>
							<%end%>	
						</div>
					</div>		
				</div>
			</div>


			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame down_a">
						<h6><large>《ここの要素はあまり評判が良くないかもしれません》</large></h6>
						 	<%@rating_neg.each{|i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
							<%= f.hidden_field :r_propaty_neg, :value => @rating_neg%>
						<div class="down_b">
							<p><%= f.select  :r_point_neg, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %><alert>*</alert></p>
							<%if @phase <= 1%>
								<%=@rating_reason%><alert>*</alert>
								<p><%=f.text_area :r_reason_neg, :size=>"35x1"%></p>
							<%end%>
						</div>
					</div>
				</div>

			 	<div class="one-half column">
				 	<div class="frame down_a">
						<h6><large>《ここの要素を気に入った方は、宿泊施設全体も気に入って頂けるでしょう》</large></h6>
						 	<%@top_oo.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
							<%= f.hidden_field :r_propaty_oo, :value => @top_oo%>
						<div class="down_b">
							<p><%= f.select  :r_point_oo, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %><alert>*</alert></p>
							<%if @phase <= 1%>
								<%=@rating_reason%><alert>*</alert>
								<p><%=f.text_area :r_reason_oo, :size=>"35x1"%></p>
							<%end%>
						</div>
					</div>	
				</div>
			</div>

			<div class="row">
			 	<div class="one-half column">
				 	<div class="frame down_a">
						<h6><large>《ここの要素を気に入らなかった方は、宿泊施設全体も気に入って頂けない可能性があります》</large></h6>
						 	<%@top_xx.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							<%}%>
							<%= f.hidden_field :r_propaty_xx, :value => @top_xx%>
						<div class="down_b">
							<p><%= f.select  :r_point_xx, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %><alert>*</alert></p>
							<%if @phase <= 1%>
								<%=@rating_reason%><alert>*</alert>
								<p><%=f.text_area :r_reason_xx, :size=>"35x1"%></p>
							<%end%>
						</div>
					</div>
				</div>

			 	<div class="one-half column">
				 	<div class="frame down_a">
						<h6><large>《ここの要素を気に入らない方でも、宿泊施設全体は気に入って頂けるでしょう》</large></h6>
						 	<%@top_xo.each{ |i|%>
					 		<%= image_tag i.to_s+".png", width: "100", height:"auto",  alt: "画像が表示されない時は連絡してください" %>
							 <%}%>
							 <%= f.hidden_field :r_propaty_xo, :value => @top_xo%>
						<div class="down_b">
							<p><%= f.select  :r_point_xo, [  [select1,0],   [select2,1],  [select3,-1]  ],  :selected => 0 %><alert>*</alert></p>
							<%if @phase <= 1%>
								<%=@rating_reason%><alert>*</alert>
								<p><%=f.text_area :r_reason_xo, :size=>"35x1"%></p>
							<%end%>	
						</div>	
					</div>
				</div>
			</div>

			</br>
			<!-- 課題　送信する情報に　参考タイプ(0+-)、参考文、参考文タイプ（ooxx） -->
			<! http://ruby-rails.hatenadiary.com/entry/20140727/1406448610>

			<%= f.hidden_field :item_ID, :value => @hotel[:item_ID]%>
			<%if @page_type == 'list_test'  && @rating_type[0] == 0%>
				<%= f.hidden_field :rating_type, :value => 0%>
			<% elsif @page_type == 'list_recommend'  && @rating_type[0] == 1%>
				<%= f.hidden_field :rating_type, :value => 1%>	
			<% elsif @page_type == 'list_recommend'  && @rating_type[0] == 2%>
				<%= f.hidden_field :rating_type, :value => 2%>
			<%end%>
				
			<h5>宿泊施設を評価する</h5>
			<div class="frame">
				<%= f.hidden_field :user_ID, :value => current_user.email%>
				この宿泊施設に対する評価<alert>（*必須）</alert>
				<p><%= f.select :rating0, [[0.5, 0.5],[1, 1],[1.5, 1.5], [2,2], [2.5,2.5], [3,3],[3.5,3.5], [4,4],[4.5,4.5], [5,5] ],  :selected => 3 %></p>

				またその評価値にした理由を簡潔で良いのでお書き下さい
				<alert>（*必須）</alert>
				<p><%= f.text_area :rating_reason ,cols: "90" %></p>
				
				その他何かコメントがあればお書き下さい
				<p><%= f.text_area :comment ,cols: "90" %></p>
			</div>

			</br>
			</br>
			<div>
				<%= f.submit :評価を投稿する, :class => "submit_button"%><alert>（*最後に押して下さい）</alert>
			</div>
			    <%if @page_type == 'list_test' %>
       <%= link_to "投稿せずアイテム一覧へ戻る", {:controller => "hotels", :action => @page_type}%>
    <% else %>
		<%= link_to "投稿せずアイテム一覧へ戻る", {:controller => "hotels", :action => @page_type}%>
    <%end%>
		<% end %>


	



	

</div>




<!--レーダーチャートを描画する Canvas-->
	<%r0 = number_with_precision(@rating[0],:precision => 2) %>
	<%r1 = number_with_precision(@rating[1],:precision => 2) %>
	<%r2 = number_with_precision(@rating[2],:precision => 2) %>
	<%r3 = number_with_precision(@rating[3],:precision => 2) %>
	<%r4 = number_with_precision(@rating[4],:precision => 2) %>
	<%r5 = number_with_precision(@rating[5],:precision => 2) %>
	<%r6 = number_with_precision(@rating[6],:precision => 2) %>
	<%r7= number_with_precision(@rating[7],:precision => 2) %>

<%= javascript_include_tag "application" %>
    <script>
      $(function() {
        // レーダーチャートで表示するデータを用意
        var radarChartData = {
          labels: ["アクセス", "コスパ", "接客対応", "客室", "風呂","食事","バリアフリー"],
          datasets: [
            {
              fillColor: "rgba(15,160,206,0.2)", // 線で囲まれた部分の色
              strokeColor: "rgba(15,160,206,0.1)", // 線の色
              pointColor: "rgba(15,160,206,0.3)",  // 点の色
              //pointStrokeColor: "rgba(58,104,66,0.5)",           // 点を囲む線の色
              data: [<%=r1%>,<%=r2%>,<%=r3%>,<%=r4%>,<%=r5%>,<%=r6%>,<%=r7%>]
            }
          ]
        };
        var options ={

        	scaleShowLabels: true,  // 目盛を表示
        	pointLabelFontSize : 13, // ラベルを表示
//        	maintainAspectRatio: true,
 //   	responsive: false
    	scaleOverride : true, 
    	scaleSteps : 5,          // 目盛の数
   	scaleStartValue : 0,      // 目盛の最初の数
   	scaleStepWidth : 1,       // 目盛の間隔
        }

        // Canvas にレーダーチャートを描画

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var chart = new Chart(context);
        var rader = chart.Radar(radarChartData,options);

      });
    </script>
<!--レーダーチャートを描画する Canvas-->

