  <nav>
  <header class="container">
    <div class="row">
      <div class="two columns">
        <p><%= link_to "HOME", {:controller => "hotels", :action => "index"} %></p>
      </div>
      <div class="ten columns">
          <ul style="  float: right">
            <li><%= link_to "進行度の確認", {:controller => "hotels", :action => "result"} %></li>
            <li><%= link_to "(1) 実験マニュアル", {:controller => "hotels", :action => "manual"} %></li>
      <%if @phase <= 1 %>
        <li><%= link_to "(2) ステップAを行う", {:controller => "hotels", :action => "list_test"} %></li>
      <%else%>
        <!-- <li><s>アイテム(その１)の評価</s></li> -->
      <%end%>
      <%if @phase >= 2 %>
        <li><%= link_to "(3) ステップBを行う", {:controller => "hotels", :action => "list_recommend"} %></li>
      <%else%>
        <!-- <li><s>アイテム(その２)の評価</s></li> -->
      <%end%>
      <%if @phase == 3 %>
        <li><%= link_to "(4) アンケート", {:controller => "hotels", :action => "interview"} %></li>
      <%else%>
        <!-- <li><s>アンケート</s></li> -->
      <%end%>
          </ul>
      </div>
    </div>
  </header>
  </nav>