<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<title>(⌒▽⌒)推薦システム</title>
<meta charset="">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= yield%> 

<script>
window.location.hash="no-back";
window.location.hash="no-back-button";
window.onhashchange=function(){
    window.location.hash="no-back";
}
</script>

<!-- footer -->
  <footer id="footer">
    <div  class="container">
      <div class="row">
        <div class="seven columns">
          <p>何かあればl.oeil.ballon@gmail.comに連絡下さい。</p>
        </div>
        <div class="five columns">
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <% if user_signed_in? %> 
            <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
            <!-- *_path はUserモデルを作成したときに、
              deviseにより自動で作成されてますので、rake routesで確認できます -->
            
            ようこそ <strong><%= current_user.email %></strong> さん
<!--             <%= link_to 'パスワード変更', edit_user_registration_path %> | -->
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            
          <% else %>
            <%= link_to "登録画面へ", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
